@using APIDeveloperPortal.Client.Models
@using System.Text.Json.Serialization
@using System.Text
@using APIDeveloperPortal.Client.Models.VMs
@using APIDeveloperPortal.Client.Services
@using System.Net.Http

@page "/products/create"
@inject IProductService ProductService
@inject NavigationManager NavigationManager
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveServerRenderMode(prerender: false))
<h3>Create Product</h3>

<ProductForm eventCallback="HandleFormSubmit" product="ProductVM" />

@code {

    [SupplyParameterFromForm]
    public ProductVM ProductVM { get; set; }

    protected override async Task OnInitializedAsync()
    {

        ProductVM = new();
    }
    private async Task HandleFormSubmit()
    {
        var newProduct = new Product
            {
                ProductName = ProductVM.ProductName,
            };

        var customClient = ClientFactory.CreateClient();
        var response = await customClient.PostAsJsonAsync("https://localhost:7056/api/Products", ProductVM);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
