@using APIDeveloperPortal.Client.Models
@using System.Text.Json.Serialization
@using System.Text
@using APIDeveloperPortal.Client.Services
@page "/products/edit/{Id:int}"
@inject NavigationManager NavigationManager
@inject IProductService ProductService

<h3>Create Product</h3>

<ProductForm eventCallback="EditProductFunction" Id="Id" />

@code {


    [SupplyParameterFromForm]
    public Product product { get; set; }
    [Parameter]
    public int Id { get; set; }

    private async Task EditProductFunction()
    {
        await ProductService.UpdateProduct(Id, product);
        NavigationManager.NavigateTo("/");
    }
}